<div class="skills-container">
  <!-- Skills -->
  <div class="skills-card">
    <h1>Compétences</h1>
    <ul>
      <li><img src="assets/logo_Angular.png" alt="Angular"> Angular</li>
      <li><img src="assets/logo_React.png" alt="React"> React</li>
      <li><img src="assets/logo_Flutter.png" alt="Flutter"> Flutter</li>
      <li><img src="assets/logo_Dart.png" alt="Dart"> Dart</li>
      <li><img src="assets/logo_TypeScript.png" alt="TypeScript"> TypeScript</li>
      <li><img src="assets/logo_JS.png" alt="JavaScript"> JavaScript</li>
      <li><img src="assets/logo_HTML.png" alt="HTML"> HTML</li>
      <li><img src="assets/logo_CSS.png" alt="CSS"> CSS</li>
      <li><img src="assets/logo_NodeJS.png" alt="Node.js"> Node.js</li>
      <li><img src="assets/logo_ExpressJS.png" alt="Express.js"> Express.js</li>
      <li><img src="assets/logo_MySQL.png" alt="MySQL"> MySQL</li>
    </ul>
  </div>

  <!-- Tools -->
  <div class="skills-card">
    <h1>Outils Utilisés</h1>
    <ul>
      <li><img src="assets/logo_VsCode.png" alt="VSCode"> Visual Studio Code</li>
      <li><img src="assets/logo_Postman.png" alt="Postman"> Postman</li>
      <li><img src="assets/logo_GitHub.png" alt="GitHub"> GitHub</li>
      <li><img src="assets/logo_Notion.png" alt="Notion"> Notion</li>
      <li><img src="assets/logo_Figma.png" alt="Figma"> Figma</li>
      <li><img src="assets/logo_Miro.png" alt="Miro"> Miro</li>
      <li><img src="assets/logo_DrawSQL.png" alt="DrawSQL"> DrawSQL</li>
      <li><img src="assets/logo_MySQL.png" alt="MySQL"> MySQL</li>
      <li><img src="assets/logo_AndroidStudio.png" alt="Android Studio"> Android Studio</li>
      <li><img src="assets/logo_tailwind.png" alt="Tailwind CSS"> Tailwind CSS</li>
    </ul>
  </div>
</div>
