<div class="skills-container">
  <div class="skills-left">
    <h1>Compétences</h1>
    <p>Angular</p>
    <p>React</p>
    <p>Flutter</p>
    <p>Dart</p>
    <p>TypeScript</p>
    <p>JavaScript</p>
    <p>HTML</p>
    <p>CSS</p>
    <p>Node.js</p>
    <p>Express.js</p>
    <p>MySQL</p>
  </div>

  <div class="skills-right">
    <h1>Outils Utilisés</h1>
    <p>Visual Studio Code</p>
    <p>Postman</p>
    <p>GitHub</p>
    <p>Notion</p>
    <p>Figma</p>
    <p>Miro</p>
    <p>DrawSQL</p>
    <p>MySQL</p>
    <p>Android Studio</p>
  </div>
</div>
