<section class="presentation flex flex-col items-center text-center px-4 sm:px-6 md:px-12 py-12 bg-gray-800/30 backdrop-blur-md rounded-xl mx-4 md:mx-auto max-w-4xl shadow-lg">

  <div class="w-32 h-32 sm:w-40 sm:h-40 mb-6 rounded-full overflow-hidden shadow-lg">
    <img 
      src="assets/photo_Presentation.JPG" 
      alt="Michel Lheriteau" 
      class="w-full h-full object-cover hover:scale-105 transition-transform duration-300" 
    />
  </div>

  <h1 class="text-3xl sm:text-4xl md:text-6xl font-bold mb-2 text-white">Michel Lheriteau</h1>
  <h2 class="text-lg sm:text-xl md:text-2xl text-gray-200 mb-4">Développeur Front-End Angular</h2>

  <p class="text-base sm:text-lg md:text-xl text-gray-100 mb-6 font-semibold">
    Je transforme des idées en interfaces modernes et performantes.
  </p>

  <div class="objectives bg-gray-700/30 backdrop-blur-sm p-4 sm:p-6 rounded-lg shadow-md max-w-xl sm:max-w-2xl">
  <p class="text-gray-100 text-sm sm:text-base md:text-lg mb-4">
    En reconversion vers le <span class="italic font-semibold text-300">développement front-end</span>, je prépare actuellement le titre RNCP niveau 6 
    « Développeur Concepteur d’Applications Full Stack » à ADA Tech School.
  </p>
  <p class="text-gray-100 text-sm sm:text-base md:text-lg mb-4">
    Passionné par <span class="italic font-semibold text-300">Angular</span> et <span class="italic font-semibold text-300">TypeScript</span>, 
    je mets mon énergie à créer des interfaces modernes, performantes et accessibles.
  </p>
  <p class="text-gray-100 text-sm sm:text-base md:text-lg mb-4">
    Fort de <span class="italic font-semibold text-300">20 ans d’expérience</span> dans le commerce et la gestion, 
    j’apporte rigueur, détermination et une réelle capacité d’adaptation aux projets numériques.
  </p>
  <p class="text-gray-100 text-sm sm:text-base md:text-lg">
    Mon objectif : rejoindre une entreprise en <span class="italic font-semibold text-300">alternance d’un an</span> 
    afin de contribuer à des projets ambitieux tout en consolidant mes compétences techniques.
  </p>
</div>
</section>
