<section class="about">
  <h1>À Propos</h1>
  <p>Fort de 20 ans d’expérience dans le commerce et la gestion d’équipes, j’ai développé une solide expertise en
    organisation et en pilotage de projets.</p>
  <p>Entrepreneur dans le e-commerce, j’ai également acquis une vision globale des enjeux numériques.</p>
  <p>Aujourd’hui, je me reconvertis dans le développement front-end, avec un focus sur Angular, TypeScript et Tailwind.
    Mon objectif :</p>
  <p>Créer des interfaces modernes, performantes et accessibles, au service des particuliers et des petites entreprises.
  </p>
</section>