<section class="hero flex flex-col items-center justify-center text-center px-6">

  <div class="w-32 h-32 sm:w-40 sm:h-40 mb-6 rounded-full overflow-hidden shadow-lg">
    <img src="assets/logos/logo.jpg" alt="Logo Michel Lheriteau"
      class="w-full h-full object-cover hover:scale-105 transition-transform duration-300" />
  </div>
  <h2 class="text-xl md:text-2xl text-gray-400 mb-6">Développeur Front-End Angular</h2>
  <p class="max-w-2xl text-gray-300 mb-8">
    Je conçois des interfaces modernes, performantes et accessibles pour offrir la meilleure expérience utilisateur.
  </p>
  <button (click)="goToProjects()"
    class="bg-blue-600 hover:bg-blue-700 text-white font-semibold px-6 py-3 rounded-lg transition-all">
    Voir mes projets
  </button>
</section>

<!-- Présentation -->
<section
  class="hero text-center px-6 py-12 bg-gray-900/40 backdrop-blur-md rounded-xl shadow-lg mx-4 md:mx-auto max-w-4xl">
  <p class="text-lg text-gray-200 ">
    Passionné par le développement web, je crée des applications front-end en Angular et TypeScript,
    avec une attention particulière à l’accessibilité et à l’expérience utilisateur.
  </p>
</section>

<!-- Main skills -->
<section class="py-1 px-6">
  <h3 class="text-2xl font-bold text-center mb-8 text-300">
    Compétences principales
  </h3>

  <div class="grid grid-cols-2 md:grid-cols-4 gap-8 text-center">
    <div>
      <img src="assets/logos/logo_Angular.png" alt="Angular" class="w-12 mx-auto mb-2 skill-logo" />
      <p>Angular</p>
    </div>
    <div>
      <img src="assets/logos/logo_TypeScript.png" alt="TypeScript" class="w-12 mx-auto mb-2 skill-logo" />
      <p>TypeScript</p>
    </div>
    <div>
      <img src="assets/logos/logo_tailwind.png" alt="Tailwind CSS" class="w-12 mx-auto mb-2 skill-logo" />
      <p>Tailwind CSS</p>
    </div>
    <div>
      <img src="assets/logos/logo_GitHub.png" alt="GitHub" class="w-12 mx-auto mb-2 skill-logo" />
      <p>GitHub</p>
    </div>
  </div>
</section>

<!-- Call To Action -->
<section class="hero text-center py-1">
  <p class="text-xl mb-3">Vous avez un projet ?</p>
  <p class="text-xl mb-3">Discutons-en !</p>

  <button (click)="goToContact()"
    class="bg-green-600 hover:bg-green-700 text-white font-semibold px-6 py-3 rounded-lg transition-all">
    Me contacter
  </button>
</section>
