<div class="projects-container">
  <h1>Projets</h1>

  <a class="project" href="https://github.com/Mlheriteau/site-tech" target="_blank">
    <h2>Le site de la Tech - Site web E-Commerce</h2>
    <p>
      Site E-Commerce de produits Tech<br />
      Développement du backend et frontend<br />
      Gestion du responsive de l’application
    </p>
    <h3>Technos : Angular, DrawSQL, SQLite, Miro, Figma, GitHub</h3>
  </a>

  <a class="project" href="https://github.com/Mlheriteau/adalicious" target="_blank">
    <h2>Adalicious - Application de gestion de commandes en temps réel - 1 semaine</h2>
    <p>
      Application de gestion de commandes en temps réel<br />
      Développement du backend et frontend
    </p>
    <h3>Technos : Angular, Express</h3>
  </a>

  <a class="project" href="https://github.com/Mlheriteau/take-a-break" target="_blank">
    <h2>Take a Break - extension de navigateur - 2 semaines - 3 personnes</h2>
    <p>
      Extension Chrome/Firefox/Edge<br />
      Timer de gestion de temps de travail et de temps de pause.<br />
      Création de la maquette sur Figma<br />
      Développement du CSS de l’extension
    </p>
    <h3>Technos : HTML, CSS, JavaScript, GitHub, Figma, Miro</h3>
  </a>

  <a class="project" href="https://github.com/Mlheriteau/sncf-app" target="_blank">
    <h2>Sncf - Application web de visualisation de données - 2 semaines - 3 personnes</h2>
    <p>
      Application proposant des trajets en train<br />
      Gestion du responsive de l’application
    </p>
    <h3>Technos : HTML, CSS, JavaScript, GitHub, Notion</h3>
  </a>

  <a class="project" href="https://github.com/Mlheriteau/spot-surf-app" target="_blank">
    <h2>Spot Surf App - Application Android et iOS - 4 semaines - 4 personnes</h2>
    <p>
      Application mobile de recherche de spots de surf<br />
      Gestion des spots de surf<br />
      Intégration de cartes Google Maps
    </p>
    <h3>Technos : Flutter, Dart, Néon, Gin, Google Maps API, Android Studio, Miro</h3>
  </a>
</div>