<div class="projects-container">
  <h1>Projets</h1>

  <!-- Project Portfolio -->
  <div class="project">
    <img src="assets/photo_projets/photo_Portfolio.png" alt="Aperçu du projet Portfolio" class="project-image" />
    <h2>Portfolio</h2>
    <h4 class="font-semibold text-indigo-300">Mon site personnel</h4>
    <span class="status">(Projet personnel)</span>
    <p>
      Création de mon portfolio en ligne<br />
      Présentation de mes projets et de mon parcours<br />
      Développement du design responsive
    </p>
    <h3>Technos : Angular, SCSS, TypeScript, GitHub</h3>
    <div class="project-links">
      <a href="https://github.com/Mlheriteau/portfolio" target="_blank" class="btn-link">Voir le code</a>
    </div>
  </div>

  <!-- Project Le site de la Tech -->
  <div class="project">
    <img src="assets/photo_projets/photo_en_travaux.jpg" alt="Aperçu du projet Le site de la Tech" class="project-image" />
    <h2>Le site de la Tech</h2>
    <h4 class="font-semibold text-indigo-300">Site E-Commerce de produits Tech</h4>
    <span class="status">(En cours de développement)</span>
    <p>
      Développement du backend et frontend<br />
      Gestion du responsive de l’application
    </p>
    <h3>Technos : Angular, DrawSQL, SQLite, Miro, Figma, GitHub</h3>
    <div class="project-links">
      <a href="https://github.com/Mlheriteau/site-tech" target="_blank" class="btn-link">Voir le code</a>
    </div>
  </div>

  <!-- Project Adaliciouus -->
  <div class="project">
    <img src="assets/photo_projets/photo_adalicious.png" alt="Aperçu du projet Adaliciouus" class="project-image" />
    <h2>Adalicious</h2>
    <h4 class="font-semibold text-indigo-300">Application de gestion de commandes en temps réel</h4>
    <span class="status">(Kata de 3 heures)</span>
    <p>
      Application de gestion de commandes en temps réel<br />
      Développement du backend et frontend
    </p>
    <h3>Technos : Angular, ExpressJS</h3>
    <div class="project-links">
      <a href="https://github.com/Mlheriteau/kata5" target="_blank" class="btn-link">Voir le code</a>
    </div>
  </div>

  <!-- Project Take a break -->
  <div class="project">
    <img src="assets/photo_projets/photo_timer.png" alt="Aperçu du projet d'extension Take a break" class="project-image" />
    <h2>Take a Break</h2>
    <h4 class="font-semibold text-indigo-300">Extension de navigateur</h4>
    <span class="status">(Projet de 2 semaines en équipe de 3 personnes)</span>
    <p>
      Extension Chrome/Firefox/Edge<br />
      Timer de gestion de temps de travail et de pause.<br />
      Création de la maquette sur Figma<br />
      Développement du CSS de l’extension
    </p>
    <h3>Technos : HTML, CSS, JavaScript, GitHub, Figma, Miro</h3>
    <div class="project-links">
      <a href="https://github.com/Mlheriteau/Extension_navigateur_MLC" target="_blank" class="btn-link">Voir le code</a>
    </div>
  </div>

  <!-- Project SNCF App -->
  <div class="project">
    <img src="assets/photo_projets/photo_sncf_app.png" alt="Aperçu du projet SNCF App" class="project-image" />
    <h2>SNCF</h2>
    <h4 class="font-semibold text-indigo-300">Application web de visualisation de données</h4>
    <span class="status">(Projet de 2 semaines en équipe de 3 personnes)</span>
    <p>
      Application proposant des trajets en train<br />
      Gestion du responsive de l’application
    </p>
    <h3>Technos : HTML, CSS, JavaScript, GitHub, Notion</h3>
    <div class="project-links">
      <a href="https://github.com/Mlheriteau/SNCF" target="_blank" class="btn-link">Voir le code</a>
    </div>
  </div>

  <!-- Project Surf App -->
  <div class="project">
    <img src="assets/photo_projets/photo_App_Surf.png" alt="Aperçu du projet Surf App" class="project-image" />
    <h2>Spot Surf App</h2>
    <h4 class="font-semibold text-indigo-300">Application Android et iOS</h4>
    <span class="status">(Projet de 4 semaines en équipe de 4 personnes)</span>
    <p>
      Application mobile de recherche de spots de surf<br />
      Gestion des spots de surf<br />
      Intégration de cartes Google Maps
    </p>
    <h3>Technos : Flutter, Dart, Néon, Gin, Google Maps API, Android Studio, Miro</h3>
    <div class="project-links">
      <a href="https://github.com/Mlheriteau/SpotSurfApp" target="_blank" class="btn-link">Voir le code</a>
    </div>
  </div>
</div>